Django==5.2.3
gunicorn==23.0.0
dj-database-url==3.0.0
psycopg2-binary==2.9.10
requests==2.32.3
certifi==2025.4.26
charset-normalizer==3.4.2
idna==3.10
urllib3==2.4.0
asgiref==3.8.1
sqlparse==0.5.3
typing_extensions==4.14.0
tzdata==2025.2
